---
interface Props {
  title: string;
  link: string;
  slides: { image: string; description: string }[];
  color: string;
}

const { title, link, slides, color } = Astro.props;
---

<div class="flex flex-col text-right gap-2">
  <a
    href={link}
    target="_blank"
    class="external-link hover:underline text-2xl md:text-3xl">{title}</a
  >
  <div
    class="flex md:flex-row flex-col overflow-x-auto border-t"
    style={`background-color: ${color}20`}
  >
    {
      slides.map((slide) => {
        return (
          <div class="flex md:flex-row flex-col-reverse w-full md:mr-16 mb-16 gap-x-96 gap-y-10 border-b">
            <div class="border-r p-5">
              <img
                class="md:min-w-[768px] md:min-h-[425px] rounded-sm"
                src={slide.image}
                alt={slide.description}
              />
            </div>
            <div class="md:min-w-[568px] md:min-h-[425px] text-2xl text-right leading-10 md:leading-13">
              {slide.description}
            </div>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  .external-link::after {
    content: " ↗";
    font-size: 0.75em;
    margin-right: 0.25em;
  }
</style>
